In [2]:
# Este sinal serve para comentar um código para que o usuário saiba o que o código faz

"""
Usando 3 aspas podemos
comentar várias linhas
assim quando o código for executado
o script pula estas linhas
"""

print("Script executado com sucesso") # texto

Script executado com sucesso

In [15]:
"""
O que é uma variável?

Uma variável é um nome que se refere a um valor armazenado na memória do computador.
Em programação variáveis são usadas para armazenar dados que podem ser utilizados
e manipulados ao longo de um programa.

Em Python, as variáveis não são declaradas com um tipo específico. No entanto, 
os tipos de dados que você pode armazenar em uma variável incluem:
"""

# Principais tipos de variáveis

# Inteiros (int): Números inteiros, sem parte decimal
inteiro = 42
print("Inteiro:", inteiro)

# Ponto Flutuante (float): Números reais, que têm uma parte decimal
flutuante = 42.0 #aceita casas decimais
print("Flutuante:", flutuante)

# Complexos (complex): Números complexos, que têm uma parte real e outra parte imaginária
complexo = 3 + 4j
print("Complexo:", complexo)

# Strings (str): Sequências de caracteres.
texto = "Olá, Mundo!"
print("String:", texto)

"""
Os termos "mutável" e "imutável" referem-se à capacidade de alterar o conteúdo
de um objeto depois que ele foi criado

Mutável: Significa que o conteúdo do objeto pode ser alterado após a sua criação. As
listas em Python são mutáveis, o que significa que você pode modificar seus elementos.

Imutável: Significa que o conteúdo do objeto não pode ser alterado após a sua criação. As
tuplas em Python são imutáveis, o que significa que, uma vez criada, não pode modificar
seus elementos.
"""

# Listas (list): Uma coleção ordenada e mutável
listas = [1, 2, 3]
print("Lista:", listas)

# Tuplas (tuple): Uma coleção ordenada e imutável.
tupla = (1, 2, 3, 4, 5)
print("Tupla:", tupla)

# Conjuntos (set): Uma coleção não ordenada de itens únicos (não se repetem)
conjunto = {1, 2, 3}
print("Conjunto:", conjunto)

# Dicionários (dict): Uma coleção não ordenada de pares chave-valor.
dicionario = {"chave": "valor"}
print("Dicionario:", dicionario)

# Booleanos (bool): Valores verdadeiro ou falso (True or False)
booleano = True
print("Booleano:", booleano)

# NoneType (None): Um tipo especial que representa a ausência de valor
nenhum = None
print("NoneType (None):", nenhum)

Inteiro: 42
Flutuante: 42.0
Complexo: (3+4j)
String: Olá, Mundo!
Lista: [1, 2, 3]
Tupla: (1, 2, 3, 4, 5)
Conjunto: {1, 2, 3}
Dicionario: {'chave': 'valor'}
Booleano: True
NoneType (None): None

In [19]:
# Variaveis

idade = 30
nome = "Kaiky"

print("Nome:", nome)
print("Idade:", idade)
print("Nome:", nome, "- Idade:", idade)

Nome: Nicole
Idade: 30
Nome: Nicole - Idade: 30

In [23]:
nome = str("Kaiky")
idade = str(31) # Casting, alterado de forma explicita o tipo da variável

"""
A função type() retorna o tipo da variável, nome, que é <class 'str'>, já que nome
é uma string. Esse valor é então impresso, resultando na saída
"""
print(type(nome))
print(type(idade))

<class 'str'>
<class 'str'>

In [25]:
#As variáveis diferenciam letras maiúsculas de minúsculas

i = 30
I = "Kaiky"

print(I)
print(i)

Ana
30

In [29]:
#Podemos também atribuir valores a várias variáveis em uma só linha

"""
O código está utilizando a desempacotamento de tuplas para atribuir
várias variáveis em uma única linha e, em seguida, imprimindo essas variáveis.

var1, var2, var3, var4 = "Texto1", "Texto2", "Texto3", "Texto4":
Nesta linha, quatro strings são atribuídas a quatro variáveis respectivas
em uma única operação.

A variável var1 é atribuída à string "Texto 1",
var2 à string "Texto 2",
var3 à string "Texto 3",
var4 à string "Texto 4",
"""

var1, var2, var3, var4 = "Texto1", "Texto2", "Texto3", "Texto4"

print(var1)
print(var2)
print(var3)
print(var4)

Texto1
Texto2
Texto3
Texto4

In [31]:
#Podemos atribuir o mesmo valor a várias variáveis em uma única linha

var1 = var2 = var3 = var4 = "Kaikyy"

print(var1)
print(var2)
print(var3)
print(var4)

Ana Paula
Ana Paula
Ana Paula
Ana Paula

In [33]:
# Se tiver uma coleção de valores em uma lista, podemos extrair em variáveis. Isso é chamado de descompactar

exemplo = "Texto 1", "Texto 2", "Texto 3", "Texto 4"
var1, var2, var3, var4 = exemplo

print(var1)
print(var2)
print(var3)
print(var4)

Texto 1
Texto 2
Texto 3
Texto 4

In [35]:
#Para juntar textos e variáveis em Python usamos o caracter + ou ,

nome = "Kaiky"

print("O nome dela é " + nome)

O nome dela é Ana Paula

In [37]:
# String o + junta e número ele soma
numero1 = "Dez"
numero2 = "Cinco"

print(numero1 + numero2)

DezCinco

In [39]:
#Para juntar textos e variáveis em Python usamos o caracter + ou ,

nome = "Kaiky"
sobrenome = "Sousa"

print("Nome completo: " + nome + " " + sobrenome) # concatenação

Nome completo: Kaiky Sousa

In [41]:
# Exercício de Variáveis em Python 1

# 1. Declare uma variável chamada "idade" e atribua o valor 25 a ela.
idade = 25

# 2. Declare uma variável chamada "nome" e atribua o valor "João" a ela.
nome = "João"

# 3. Declare uma variável chamada "saldo" e atribua o valor 100.50 a ela.
saldo = 100.50

# 4. Crie uma variável chamada "soma" e atribua a ela a soma das variáveis "idade" e "saldo"
soma = (idade + saldo)

# 5. Imprima na tela o valor da variável "soma".
print("Soma:",soma)

Soma: 125.5

In [48]:
# Exercício de Variáveis em Python 2

# 1. Crie uma variável chamada "nota1" e atribua o valor 7.5 a ela
nota1 = 7.5

# 2. Crie uma variável chamada "nota2" e atribua o valor 8.3 a ela
nota2 = 8.3

# 3. Crie uma variável chamada "nota3" e atribua o valor 6.9 a ela
nota3 = 6.9

# 4. Calcule a média das três notas e atribua o resultado a uma variável chamada "media".
media = (nota1 + nota2 + nota3) / 3

# 5. Imprima na tela o valor da variável "media" formatado com duas casas decimais.
print(f"Media 1: {media:.2f}") #F-Strings para formatar o número de casas decimais
print("Media 2:", format(media, ".2f"))

Media 1: 7.57
Media 2: 7.57

In [54]:
# Exercício: Manipulação de Variáveis - UDEMY

nome = "Kaiky"
idade = 22
ano_atual = 2025

ano_nascimento = idade++ - 2025 #incremento
print(ano_nascimento)

print(f"Olá, meu nome é {nome} eu tenho {idade} anos e nasci em {ano_nascimento}")

-2003
Olá, meu nome é Kaiky eu tenho 22 anos e nasci em -2003

In [1]:
# Função input (entrada de dados)
# \n - Quebra de linha
nome = input("Digite seu nome: \n")

print(f"\nO seu nome é: {nome}")

Digite seu nome:
 Kaiky Sousa

O seu nome é: Kaiky Sousa

In [8]:
"""
Solicita ao usuário que insira seu nome e duas notas, calcula a média dessas notas e,
em seguida, imprime uma mensagem contendo o nome do aluno e a média calculada.
"""

nome = input("Digite seu nome: \n")
nota1 = float(input("Digite a nota 1:")) #casting, input padrão recebe string
nota2 = float(input("Digite a nota 2:"))

media = (nota1 + nota2) / 2

print(f"Aluno {nome} Média {media:.2f}")

Digite seu nome:
 Kaiky
Digite a nota 1: 7
Digite a nota 2: 2

Aluno Kaiky Média 4.50

In [24]:
"""
Exercício: Tabuada Personalizada

Escreva um programa que solicite ao usuário um número inteiro e exiba a tabuada desse número, do 1 ao 10.

Entrada:

    Um número inteiro n, representando o número do qual você deseja ver a tabuada

Saída:

    O programa deve imprimir dez linhas, mostrando o resultado da multiplicação do
    número digitado com os números de 1 a 10, no formato n * i = resultado, onde n é o número
    digitado pelo usuário e i varia de 1 a 10.

Exemplo de entrada:

    A tabuada de qual número deseja ver 5

Exemplo de saída:

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50
"""

#Entrada de dados
n = int(input("A tabuada de qual número deseja ver?: \n"))

# Saída de dados
print(f"{n} * 1 = {n * 1}")
print(f"{n} * 2 = {n * 2}")
print(f"{n} * 3 = {n * 3}")
print(f"{n} * 4 = {n * 4}")
print(f"{n} * 5 = {n * 5}")
print(f"{n} * 6 = {n * 6}")
print(f"{n} * 7 = {n * 7}")
print(f"{n} * 8 = {n * 8}")
print(f"{n} * 9 = {n * 9}")
print(f"{n} * 10 = {n * 10}")

A tabuada de qual número deseja ver?:
 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [32]:
from datetime import date

"""
Exercício

Crie um algoritmo que solicite o ano de nascimento do usuário e
com base no ano imprima a idade

ano atual - ano digitado
"""
print("ALGORITMO DE IDADE ATUAL\n")
dtNascimento = int(input("Digite seu ano de nascimento: "))
anoAtual = date.today().year

CURRENT_AGE = dtNascimento - anoAtual

print(f"Com base no ano atual {anoAtual} você tem {CURRENT_AGE} anos")

ALGORITMO DE IDADE ATUAL

Digite seu ano de nascimento:  1945

Com base no ano atual 2025 você tem -80 anos

In [61]:
# Aula sobre números randomicos - Números aleatórios
import random

print(random.randrange(1, 100))

#Gerar um número de ponto flutuante aleatório entre 0 e 1:
print(random.random())

#Gerar um número inteiro aleatório entre dois valores (inclusive):
print(random.randint(10, 20))

#Escolher aleatoriamente um elemento de uma lista
frutas = ["maça", "banana", "caqui"]
print(random.choice(frutas)) #Escolhe uma fruta aleatoriamente da lista

#Embaralhar aleatoriamente uma lista
numeros = [1,2,3,4,5]
random.shuffle(numeros)
print(numeros) #A lista 'numeros' agora está embaralhada.

#Gerar um número de ponto flutuante aleatório em um intervalo específico
print(random.uniform(5.5, 9.5)) #Gera um número de ponto flutuante entre 5.5 e 9.5

68
0.40604895398918417
15
banana
[3, 5, 4, 1, 2]
8.992085762452545